header.navbar
	.container-fluid
		.navbar-logo
		nav
			ul.navbar-nav
				+nav-item("#", "Dashboard", "nav-link active")
				+nav-item("#", "Deposit", "nav-link")
				+nav-item("#", "Transfer", "nav-link")
				+nav-item("#", "Exchange", "nav-link")
				+nav-item("#", "Withdraw", "nav-link")
			ul.nav-icons
				li
					a(href="#" title="Account").nav-ico.nav-ico--account
				li
					a(href="#" title="Log out").nav-ico.nav-ico--out
				li
					a(href="#" title="Language").nav-ico.nav-ico--lang
