header.navbar
		.navbar-logo
		nav
			ul.nav
				li.nav-item
					a(href="#").nav-link.active Dashboard
				li.nav-item
					a(href="#").nav-link Deposit
				li.nav-item
					a(href="#").nav-link Transfer
				li.nav-item
					a(href="#").nav-link Exchange
				li.nav-item
					a(href="#").nav-link Withdraw
			ul
				li

