//-Repeat
	- for (var i = 1; i <= limit; i++)
		block

//-Header nav
mixin nav-item($href, $text, $lnk_class)
	li.nav-item
		a(href= $href class= $lnk_class)= $text

//-Card
mixin card($counter, $subtitle, $src, $alt, $cur, $price, $price_decimal)
	.card
		.card-body
			.card-top
				.card-title(role="heading" aria-level="3") Live |
					span.card-title__counter= $counter
				.card-subtitle(role="heading" aria-level="4")= $subtitle
			img(src= $src alt= $alt).img-fluid.card-img-bottom
			.card-bottom
				.asset-val
					.asset-val__currency= $cur
					.asset-val__price= $price
						span.asset-val__decimal= $price_decimal
				button.btn.btn-primary Deposit account

//-Select
mixin form-select($label, $option1)
	label.form-label= $label
	.select
		.select__control.form-control= $option1
		.select__dropdown
			.select__dropdown-item Item 2
			.select__dropdown-item Item 3
			.select__dropdown-item Item 4
			.select__dropdown-item Item 5


//-Platform
mixin platform-item($name, $class_m)
	li(class="platform__item" + $class_m).platform__item
		.platform__item-name= $name

//-Wallet
mixin wallet($name, $sum)
	.wallet__item-name= $name
		.wallet__item-sum= $sum
		button.wallet__item-btn

//-Footer contacts
mixin footer-contacts($href, $text)
	li.footer__nav-item
		a.footer__lnk(href= $href)= $text
