footer
	padding: 3.286rem 0 2.143rem 0 // 46px 0 30px 0
	background: $white

// Sticky footer
.layout-wrp
	min-height: 100vh
	display: flex
	flex-direction: column

.content-wrp
	flex: 1

.footer
	// Logo
	&__logo
		width: 163px
		height: 20px
		background-image: url("../imgs/footer-logo.svg")
		background-position: 50% 50%
		background-size: contain
		background-repeat: no-repeat
	// (c)
	&__copyright
		line-height: 1.71
		color: $black
	// Footer links
	&__nav
		+list-unstyled
		&-item
			padding-bottom: 0.571rem // 8px
	&__lnk
		color: $custom-link
	&__help-text
		margin-right: 1.286rem
