//include ../-helpers/variables
include ../-helpers/mixins

doctype html
html(lang="en")
	include -templates-includes/head--inc
	body
		//-Header
		include -templates-includes/header--inc

		//-Content
		.container-fluid
			block content

		//-Footer
		include -templates-includes/footer--inc
