include ../-helpers/mixins

doctype html
html(lang="en")
	include -templates-includes/head--inc
	body
		.layout-wrp
			//-Header
			include -templates-includes/header--inc

			//-Content
			.container-fluid.content-wrp
				h1.h-hidden PCapital service
				block content

			//-Footer
			include -templates-includes/footer--inc
